@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
}

#custom-Alert {
  position: fixed;
  z-index: 1000;
  width: 100%;
  margin: -9rem auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
  transition: 0.5s;
}

#custom-Alert.open {
  margin: 0rem auto;
}

#custom-Alert.open #custom-Alert-Content {
  opacity: 1;
}

/* Configs */
#custom-Alert.open.block-page {
  height: 100%;
  pointer-events: visible;
}

#custom-Alert-Content {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  word-break: break-word;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.72);
  width: 22rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  padding: 1.3rem;
  margin-top: 1rem;
  opacity: 0;
  pointer-events: visible;
  transition: 0.5s;
}

#custom-Alert-Text {
  color: #000;
  margin: 0;
  height: max-content;
  width: 100%;
}

#custom-Alert-Button {
  background: #3771fa;
  color: #fff;
  outline: none;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  width: max-content;
  height: max-content;
  padding: 0.4rem 1rem;
  border-radius: 5px;
}
